<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <nav>
        <a class="nav" href="/">Accueil</a>
        <a class="nav" href="/service">Nos Services</a>
        <a class="nav" href="/contact">Contactez-nous !</a>
      </nav>
    </header>
    <div class="main--part--Services">
        <h2>Nos services :</h2>
        <p>- Fullstack Js</p>
        <p>- Marketing Digital</p>
        <p>- Data Scientist</p>

    </div>
    <footer>
      <div class="footer--content">
          <p>Heure d'ouverture </p>
        <p>Lun - Sam : 9h - 17h</p>
      </div>
    </footer>
  </body>
</html>
