<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <div class="main--part--description">
        <div class="slogan">
          <h1>Service non disponible pour le moment</h1>
          <p>La référence du Tech</p>
        </div>
    </div>

    <footer>
      <div class="footer--content">
          <p>Heure d'ouverture </p>
        <p>Lun - Sam : 9h - 17h</p>
      </div>
    </footer>
  </body>
</html>
